{{define "specific"}}{{$cs := .CoinShortcut}}{{$bb := .Info.Blockbook}}{{$be := .Info.Backend}}{{$blocks := .Blocks}}
{{- if $bb.InitialSync -}}
<h3 class="bg-danger text-white" style="padding: 20px;">Application is now in initial synchronization and does not provide any data.</h3>
{{- end -}}
{{- if not $bb.SyncMode -}}
<h3 class="bg-warning text-white" style="padding: 20px;">Synchronization with backend is disabled, the state of index is not up to date.</h3>
{{- end -}}
{{- if .InternalExplorer -}}
<h1 align="center">{{.CoinLabel}} Block Explorer</h1>
<br>
{{- end -}}
<div class="glass-card">
    <h3 class="mt-0">Block index</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table data-table">
                <tbody>
                    <tr>
                        <td style="width: 40%;">Last Indexed Block</td>
                        <td class="data">
                            {{- if .InternalExplorer -}}
                                <a href="/block/{{$bb.BestHeight}}">{{$bb.BestHeight}}</a>
                            {{else}}
                                {{$bb.BestHeight}}
                            {{- end -}}
                        </td>
                    </tr>
                    <tr>
                        <td>Best Block Hash</td>
                        <td class="data ellipsis">{{$be.BestBlockHash}}</td>
                    </tr>
                    <tr>
                        <td>Last Block Update</td>
                        <td class="data">{{timeSpan $bb.LastBlockTime}}</td>
                    </tr>
                    <tr>
                        <td>Protocol Version</td>
                        <td class="data">{{$be.ProtocolVersion}}</td>
                    </tr>
                    <tr>
                        <td>Masternode Count</td>
                        <td class="data ellipsis">{{$be.MasternodeCount}}</td>
                    </tr>
                    <tr>
                        <td>Next Superblock</td>
                        <td class="data">{{$be.NextSuperBlock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table data-table">
                <tbody>
                    <tr>
                        <td style="width: 40%;">Difficulty</td>
                        <td class="data">{{$be.Difficulty}}</td>
                    </tr>
                    <tr>
                        <td>Mempool Size</td>
                        <td class="data"><a href="/mempool">{{$bb.MempoolSize}}</a></td>
                    </tr>
                    <tr>
                        <td>Last Mempool Update</td>
                        <td class="data">{{timeSpan $bb.LastMempoolTime}}</td>
                    </tr>
                    <tr>
                        <td>Total PIV Supply</td>
                        <td class="data ellipsis">{{formatSupply $be.MoneySupply}}&nbsp;{{$cs}}</td>
                    </tr>
                    <tr>
                        <td>Transparent Supply</td>
                        <td>
                          <span class="data">{{formatSupply $be.TransparentSupply}}&nbsp;{{$cs}}</span>&nbsp;
                          <em>({{getPercent $be.TransparentSupply $be.MoneySupply}})</em>
                        </td>
                    </tr>
                    <tr>
                        <td>Shield Supply</td>
                        <td>
                          <span class="data">{{formatSupply $be.ShieldSupply}}&nbsp;{{$cs}}</span>&nbsp;
                          <em>({{getPercent $be.ShieldSupply $be.MoneySupply}})</em>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="glass-card">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h3 class="m-0">Last blocks</h3>
        <a href='/blocks' class="btn btn-outline-secondary btn-sm">See all</a>
    </div>
    <div class="data-div m-0">
        <table class="table table-striped data-table table-hover mb-0">
            <thead>
                <tr>
                    <th class="col-height">Height</th>
                    <th class="col-hash">Hash</th>
                    <th class="col-time">Timestamp</th>
                    <th class="text-right col-txs" title="number of Transactions in block">TXs</th>
                    <th class="text-right col-size" title="size in Bytes">Size</th>
                </tr>
            </thead>
            <tbody>
                {{- range $b := $blocks.Blocks -}}
                <tr>
                    <td><a href="/block/{{$b.Height}}">{{$b.Height}}</a></td>
                    <td class="ellipsis">{{$b.Hash}}</td>
                    <td>{{formatUnixTime $b.Time}}</td>
                    <td class="text-right">{{$b.Txs}}</td>
                    <td class="text-right">{{$b.Size}}</td>
                </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
